body {background-color:#F9C1DA;text-align:justify; font-size:18px;}
h1{text-align: center;background-color: #2FBDBA;color:#fcfefe;}
h3{text-align: justify;color:#fcfefe}
b{color:rgb(0, 0, 0);font-size:18px;}
i{color:rgb(0, 0, 0); font: size 18px;}
header,footer{background-color:#fcfefe;color:#CEEFFC;text-align:center;font-size:20px;}
main{background-color: #fcfefe;}
.primeiroparagrafo{text-align: justify;font-size:18px;border:black solid 2px;padding:10px;margin:10px}
#logotipo{width: 10%;height: 10%;}
#lista{display: inline-block;}
nav a {color:antiquewhite}
nav li{text-transform:uppercase;}
#lista2 {display:inline-block;}