body {background-color:#3efaf7;text-align:justify; font-size:18px;}
h1{text-align: center;background-color: #2FBDBA;color:#17313B;}
h3{text-align: justify;color:#1F7A79}
b{color:blue;font-size:18px;}
i{color:blue; font: size 18px;}
header,footer{background-color:#499CBA;color:#CEEFFC;text-align:center;font-size:20px;}
main{background-color: #8DDEFC;}
.primeiroparagrafo{text-align: justify;font-size:18px;border:black solid 2px;padding:10px;margin:10px}
.segundoparagrafo{text-align: justify;font-size: 18px;border:black solid 2px;padding:10px;margin:10px;}
#logotipo{width: 5px;height: 5px;}
#lista{display: inline-block;}
nav a {color:antiquewhite}
nav li{text-transform:uppercase;}
#lista2{display:block;}